<!DOCTYPE html>
<!-- Written by Robert Coleman -->
<html>
<head>
    <title>Noticeboard Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- Stuff to make browsers understand what is going on -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Get the jquery libraries because it is good -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- remove any border -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- Get a nicer font from the web -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"> <!-- Make it look the way I want -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="text/javascript" src="/static/noticeboard.js" async></script> <!-- The thing that makes it all work -->
</head>
    <body>
        <div class="panel" id="panel">
            <div class="top">
                <div class="logo"><img id="logo" src="/static/logo.png" alt="Logo"></div><!-- Emmaus Logo -->
                <div class="time"><p id="date">5 March</p></br><p id="clock">12:34</p></div><!-- A clock -->
            </div>
            <div class="title">Settings</div>
            <div class="grid-list clearfix" id="settings-list">
                <form action="{{ url_for('settings') }}" method="post">
                <div class="grid-item" id="helpdesk-url-itme"><label for="helpdesk-url">Helpdesk URL:</label><input type="text" id="helpdesk-url" name="helpdesk-url"></div>
                <div class="grid-item" id="api-key-item"><label for="api-key">API Key:</label><input type="text" id="api-key" name="api-key"></div>
                <div class="grid-item" id="submit-button"><input type="submit" value="Save"></div>
                </form>
            </div>
        </div>
    </body>
</html>