<!DOCTYPE html>
<!-- Written by Robert Coleman -->
<html>
<head>
    <title>Emmaus Helpdesk Noticeboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- Stuff to make browsers understand what is going on -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Get the jquery libraries because it is good -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- remove any border -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- Get a nicer font from the web -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"> <!-- Make it look the way I want -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- Icons from Google -->
    <script type="text/javascript" src="/static/noticeboard_secondary.js" async></script> <!-- The thing that makes it all work -->
</head>
    <body>
        <div class="panel" id="panel">
            <div class="top">
                <div class="logo"><img id="logo" src="/static/logo.png" alt="Emmaus College"></div><!-- Emmaus Logo -->
                <div class="time"><p id="date">5 March</p></br><p id="clock">12:34</p></div><!-- A clock -->
            </div>
            <div class="title">Senior School Collections</div>
            <div class="grid-container" id="Collection"></div>
            <div class="title">These students please contact Mr Smith or Mrs Johnson</div>
            <div class="grid-container" id="Approval"></div>
        </div>
    </body>
</html>